In [84]:
import pandas as pd 
import numpy as np

load dataset

In [85]:
df_independent = pd.read_csv('train_x.csv')

remove unwanted feature

In [86]:
df_independent = df_independent.drop(['Unnamed: 0'],1)

In [87]:
df_independent

         shop_id  date_block_num  item_id  item_cnt_day
0              0               1    22154           1.0
1              0               0     2564           1.0
2              0               1     2572           1.0
3              0               1     2573           1.0
4              0               0     2574           1.0
...          ...             ...      ...           ...
1902212       59              33     5352           1.0
1902213       59              33     3831           1.0
1902214       59              33    15411           1.0
1902215       59              33    13637           1.0
1902216       59              33     7462           1.0

[1902217 rows x 4 columns]

find out quantities of unique labales of 'item_id','shop_id'

In [88]:
df_independent['item_id'].value_counts().sort_values()

0            1
1068         1
18245        1
21319        1
5966         1
         ...
6675      2643
2808      2764
5822      3469
17717     7755
20949    11080
Name: item_id, Length: 21807, dtype: int64

In [89]:
import numpy as np

write a programm to arrange unique 'shop_id' with unique  'date_block_num' 
date_block_num: a consecutive month number, used for convenience. January 2013 is 0, February 2013 is 1,..., October 2015 is 33
shop_id - unique identifier of a shop

as example
shop_id  date_block_num  item_id  item_cnt_day
    1               1    22154           1.0
    
In February 2013 from shop 1, 1 product of  22154  'item_id' was  sold

In [8]:
df_k=[]
df_s=[]
for i in np.arange(0,59,1):
    # l=[i]
    df_k.append(df_independent.loc[lambda df_independent: df_independent['shop_id'] == i, :])
    df=pd.DataFrame(df_k[i])
    for j in np.arange(0,33,1):
         df_s.append(df.loc[lambda df:df['date_block_num'] == j, :])

In [9]:
df_s

[      shop_id  date_block_num  item_id  item_cnt_day
 1           0               0     2564           1.0
 4           0               0     2574           1.0
 6           0               0     2604           1.0
 7           0               0     2607           1.0
 9           0               0     2705           1.0
 ...       ...             ...      ...           ...
 5164        0               0    17934           1.0
 5165        0               0    16473           1.0
 5167        0               0    22039           1.0
 5168        0               0    21999           1.0
 5169        0               0    21831           1.0

 [2739 rows x 4 columns],
       shop_id  date_block_num  item_id  item_cnt_day
 0           0               1    22154           1.0
 2           0               1     2572           1.0
 3           0               1     2573           1.0
 5           0               1     2574           1.0
 8           0               1     2607           1.0
 ...       ...             ...      ...           ...
 5560        0               1    13034           1.0
 5561        0               1    13913           1.0
 5562        0               1    14156           2.0
 5563        0               1    13799           1.0
 5564        0               1    13049           1.0

 [2826 rows x 4 columns],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
       shop_id  date_block_num  item_id  item_cnt_day
 5566        1               0     2574           1.0
 5567        1               0     2716           1.0
 5570        1               0     2748           1.0
 5571        1               0     2748           1.0
 5572        1               0     2833           1.0
 ...       ...             ...      ...           ...
 8942        1               0     1753           1.0
 8944        1               0     2055           1.0
 8945        1               0     1910           1.0
 8946        1               0     2177           1.0
 8947        1               0     2343           1.0

 [1673 rows x 4 columns],
       shop_id  date_block_num  item_id  item_cnt_day
 5565        1               1    22154           1.0
 5568        1               1     2719           1.0
 5569        1               1     2746           1.0
 5573        1               1     2835           1.0
 5577        1               1     2848           1.0
 ...       ...             ...      ...           ...
 9144        1               1     2728           1.0
 9145        1               1     5227           1.0
 9146        1               1     5215           1.0
 9147        1               1     5265           1.0
 9148        1               1     3359           1.0

 [1911 rows x 4 columns],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
 Empty DataFrame
 Columns: [shop_id, date_block_num, item_id, item_cnt_day]
 Index: [],
        shop_id  date_block_num  item_id  item_cnt_day
 9152         2               0     2715           1.0
 9154         2               0     2716           1.0
 9165         2               0     2731           1.0
 9166         2               0     2746           1.0
 9174         2               0     2833           1.0
 ...        ...             ...      ...           ...
 15543        2               0    18997           1.0
 15544        2               0    22095           2.0
 15545        2               0    22168           1.0
 15546        2               0    21324           1.0
 15594        2               0      438           1.0

 [805 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9169         2               1     2748           1.0
 9175         2               1     2833           1.0
 9185         2               1     2844           1.0
 9189         2               1     2847           1.0
 9227         2               1     2920           1.0
 ...        ...             ...      ...           ...
 16211        2               1     5850           1.0
 16228        2               1    20870           1.0
 16229        2               1     7870           1.0
 16230        2               1     2342           1.0
 16231        2               1     9523           1.0

 [354 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9183         2               2     2836           1.0
 9192         2               2     2848           1.0
 9197         2               2     2854           1.0
 9228         2               2     2920           1.0
 9244         2               2     2808           1.0
 ...        ...             ...      ...           ...
 16901        2               2     8505           1.0
 16902        2               2    19370           1.0
 16903        2               2    19262           1.0
 16904        2               2     2981           1.0
 16905        2               2     4490           1.0

 [506 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9170         2               3     2748           1.0
 9172         2               3     2798           1.0
 9176         2               3     2833           1.0
 9186         2               3     2844           1.0
 9198         2               3     2854           1.0
 ...        ...             ...      ...           ...
 17181        2               3     1937           1.0
 17194        2               3     4776           1.0
 17353        2               3     6357           1.0
 17366        2               3     1957           1.0
 17368        2               3    13069           1.0

 [434 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9177         2               4     2833           1.0
 9187         2               4     2844           1.0
 9230         2               4     2920           1.0
 9247         2               4     2808           1.0
 9248         2               4     2808           1.0
 ...        ...             ...      ...           ...
 17527        2               4    10956           1.0
 17529        2               4    10991           1.0
 17537        2               4     9904           1.0
 17538        2               4     9900           1.0
 17555        2               4     6136           1.0

 [395 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9149         2               5     2574           1.0
 9178         2               5     2833           1.0
 9193         2               5     2848           1.0
 9208         2               5     2857           1.0
 9249         2               5     2808          10.0
 ...        ...             ...      ...           ...
 17919        2               5     7976           1.0
 17925        2               5     2505           1.0
 17943        2               5     3185           1.0
 17945        2               5    10987           1.0
 17985        2               5     4368           1.0

 [526 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9155         2               6     2719           1.0
 9190         2               6     2847           1.0
 9194         2               6     2848           1.0
 9199         2               6     2854           1.0
 9231         2               6     2920           1.0
 ...        ...             ...      ...           ...
 18244        2               6     3564           1.0
 18245        2               6     3865           1.0
 18246        2               6     1873           1.0
 18247        2               6     4860           1.0
 18248        2               6     4283           1.0

 [527 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9151         2               7     2705           1.0
 9153         2               7     2715           1.0
 9156         2               7     2719           1.0
 9162         2               7     2720           1.0
 9179         2               7     2833           1.0
 ...        ...             ...      ...           ...
 18619        2               7    20648           1.0
 18642        2               7     3703           1.0
 18669        2               7    11548           2.0
 18676        2               7    15293           1.0
 18693        2               7     7049           2.0

 [590 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9157         2               8     2719           1.0
 9163         2               8     2720           1.0
 9196         2               8     2848           1.0
 9201         2               8     2854           1.0
 9210         2               8     2857           1.0
 ...        ...             ...      ...           ...
 19267        2               8    20294           1.0
 19270        2               8    13741           1.0
 19279        2               8     3498           1.0
 19280        2               8     5737           1.0
 19304        2               8     5624           1.0

 [491 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9202         2               9     2854           1.0
 9211         2               9     2857           1.0
 9293         2               9     2703           1.0
 9316         2               9     2252           1.0
 9392         2               9     2682           1.0
 ...        ...             ...      ...           ...
 19929        2               9     2832           1.0
 19969        2               9    15269           1.0
 20001        2               9    13439           1.0
 20014        2               9     1509           1.0
 20025        2               9    17664           1.0

 [423 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9158         2              10     2719           1.0
 9173         2              10     2798           1.0
 9203         2              10     2854           1.0
 9212         2              10     2857           1.0
 9259         2              10     2808           1.0
 ...        ...             ...      ...           ...
 20702        2              10    19902           1.0
 20703        2              10    19902           1.0
 20708        2              10    14227           1.0
 20743        2              10     2357           1.0
 20748        2              10    18886           1.0

 [434 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9159         2              11     2719           1.0
 9164         2              11     2720           1.0
 9213         2              11     2857           1.0
 9233         2              11     2920           1.0
 9260         2              11     2808           1.0
 ...        ...             ...      ...           ...
 21372        2              11     6571           1.0
 21378        2              11     8420           1.0
 21401        2              11     9151           1.0
 21425        2              11    12119           1.0
 21435        2              11     5327           1.0

 [693 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9160         2              12     2719           1.0
 9214         2              12     2857           1.0
 9234         2              12     2920           1.0
 9261         2              12     2808           1.0
 9319         2              12     2252           1.0
 ...        ...             ...      ...           ...
 21566        2              12     1480           1.0
 21567        2              12     1480           4.0
 21568        2              12     1480           2.0
 21573        2              12     7970           1.0
 21606        2              12     1415           1.0

 [542 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9204         2              13     2854           1.0
 9215         2              13     2857           1.0
 9262         2              13     2808           1.0
 9338         2              13     2253           1.0
 9371         2              13     2678           1.0
 ...        ...             ...      ...           ...
 21871        2              13     6476           1.0
 21880        2              13    12715           1.0
 21882        2              13    16529           1.0
 21951        2              13     2355           1.0
 21988        2              13     3694           1.0

 [549 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9161         2              14     2719           1.0
 9167         2              14     2746           1.0
 9205         2              14     2854           1.0
 9216         2              14     2857           1.0
 9235         2              14     2920           1.0
 ...        ...             ...      ...           ...
 22216        2              14     4835           1.0
 22217        2              14     4835           1.0
 22231        2              14    18833           1.0
 22285        2              14     4689           1.0
 22307        2              14    15295           1.0

 [547 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9181         2              15     2833           1.0
 9182         2              15     2833           1.0
 9206         2              15     2854          -1.0
 9217         2              15     2857           1.0
 9236         2              15     2920           1.0
 ...        ...             ...      ...           ...
 22535        2              15     7741           1.0
 22547        2              15     6333           1.0
 22564        2              15     4394           1.0
 22580        2              15     3833           1.0
 22585        2              15     3539           1.0

 [508 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9266         2              16     2808           1.0
 9321         2              16     2252           1.0
 9345         2              16     2254           1.0
 9347         2              16     2255           1.0
 9349         2              16     2256           1.0
 ...        ...             ...      ...           ...
 22949        2              16     7879           1.0
 22959        2              16     5657           1.0
 22987        2              16     6928           1.0
 22994        2              16     7266           1.0
 23015        2              16     3006           1.0

 [523 rows x 4 columns],
        shop_id  date_block_num  item_id  item_cnt_day
 9267         2              17     2808           1.0
 9268         2              17     2808           4.0

In [10]:
df_s[1]['shop_id'].value_counts().sort_values()

0    2826
Name: shop_id, dtype: int64

In [11]:
df_s[0]['shop_id'][:5]

1    0
4    0
6    0
7    0
9    0
Name: shop_id, dtype: int64

In [12]:
len(df_s)

1947

remove all blank dataframe

In [13]:
df_final=[]
for i in np.arange(0,1947,1):
    if df_s[i].size >0:
        df_final.append(df_s[i])

In [14]:
len(df_final)

1509

In [15]:
for i in np.arange(0,1509,1):
    df_final[1]['item_id'].value_counts()

write aprogramm to determine total count of unique 'item_id' or items are being sold permonth from a unique shop 
as example
item_id  shop_id  item_cnt_month
   3432        2               4

total 4 nubers of items haveing 3432 "item_id" was being sold per month from 'shop_id'2

In [36]:
df_pro=[]
df_c=[]

for i in np.arange(0,1509,1):
    df_c.append(df_final[i]['item_id'].value_counts())
    l1=list(df_c[i].index)
    l2=list(df_c[i])
    l3=df_final[i]['shop_id'][: len(df_c[i])]
    data = {'item_id': l1,
        'shop_id': l3,
           'item_cnt_month':l2}
    df_pro.append(pd.DataFrame(data))

remove 0 and 1 labaled shop id beacouse provided test sample dose cont cointain 0 and 1 labaled

In [37]:
df_for_train=list(df_pro[4:1509])

In [38]:
df_for_train

[       item_id  shop_id  item_cnt_month
 9152      3432        2               4
 9154      2808        2               4
 9165      3321        2               4
 9166      2920        2               4
 9174      2304        2               3
 ...        ...      ...             ...
 15340    15010        2               1
 15347     3328        2               1
 15356     3743        2               1
 15357    19083        2               1
 15359     9216        2               1

 [728 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9169      3328        2               3
 9175      2448        2               3
 9185       484        2               2
 9189      2750        2               2
 9227     19674        2               2
 ...        ...      ...             ...
 15892     8528        2               1
 15893    16210        2               1
 15894     9043        2               1
 15902     3318        2               1
 15914     7169        2               1

 [324 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9183     17717        2               4
 9192      4248        2               4
 9197      3320        2               4
 9228      6495        2               4
 9244      4240        2               3
 ...        ...      ...             ...
 16288    15031        2               1
 16306     4792        2               1
 16315     7867        2               1
 16320     2749        2               1
 16321     1025        2               1

 [428 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9170      5261        2               3
 9172     21372        2               3
 9176      3938        2               3
 9186     19344        2               2
 9198     21370        2               2
 ...        ...      ...             ...
 16916    14037        2               1
 16917     4344        2               1
 16918     7901        2               1
 16922     4831        2               1
 16929     7168        2               1

 [402 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9177      3938        2               4
 9187     15044        2               3
 9230      4244        2               2
 9247      7977        2               2
 9248     11549        2               2
 ...        ...      ...             ...
 17056    15444        2               1
 17060     2929        2               1
 17078     9565        2               1
 17079     1890        2               1
 17097     6659        2               1

 [366 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9149     16787        2               7
 9178      2808        2               3
 9193       484        2               3
 9208      5274        2               3
 9249      6111        2               3
 ...        ...      ...             ...
 17520     4809        2               1
 17523     4810        2               1
 17530     4811        2               1
 17534    19148        2               1
 17542     6144        2               1

 [465 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9155     21427        2               3
 9190      3328        2               3
 9194     13354        2               3
 9199      6499        2               3
 9231      3183        2               2
 ...        ...      ...             ...
 17798    15044        2               1
 17800    15045        2               1
 17806    15046        2               1
 17810    13460        2               1
 17820    14337        2               1

 [487 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9151      1516        2               5
 9153      6916        2               4
 9156      5819        2               4
 9162      6466        2               4
 9179      3328        2               3
 ...        ...      ...             ...
 17998     7850        2               1
 18006     6601        2               1
 18008     4781        2               1
 18012     7857        2               1
 18013     7168        2               1

 [515 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9157      3734        2               8
 9163      3732        2               8
 9196      7096        2               5
 9201      3331        2               5
 9210      2808        2               4
 ...        ...      ...             ...
 18601    13362        2               1
 18607     6474        2               1
 18643     5258        2               1
 18660    20301        2               1
 18664     5632        2               1

 [391 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9202      3331        2               6
 9211      3734        2               5
 9293     11813        2               5
 9316      3732        2               4
 9392     20949        2               4
 ...        ...      ...             ...
 19375     6490        2               1
 19378     1371        2               1
 19397    15293        2               1
 19398     5625        2               1
 19399     5639        2               1

 [361 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9158     20949        2               5
 9173      3732        2               4
 9203      1511        2               4
 9212      2269        2               4
 9259      1849        2               3
 ...        ...      ...             ...
 20289     6473        2               1
 20309     6474        2               1
 20310     5258        2               1
 20311     9983        2               1
 20312     5639        2               1

 [368 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9159      6675        2              12
 9164     20949        2               6
 9213      3707        2               6
 9233     11811        2               4
 9260      3329        2               4
 ...        ...      ...             ...
 20596     5822        2               1
 20618     5823        2               1
 20623     7872        2               1
 20631     5036        2               1
 20632     6144        2               1

 [586 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9160      3335        2               4
 9214     20949        2               4
 9234      3732        2               4
 9261      1480        2               3
 9319      1495        2               3
 ...        ...      ...             ...
 20797     4793        2               1
 20803     5821        2               1
 20827     5822        2               1
 20834     5823        2               1
 20836     5236        2               1

 [483 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9204      6675        2               6
 9215     20949        2               5
 9262      5243        2               5
 9338      3329        2               5
 9371      2445        2               5
 ...        ...      ...             ...
 20636     5811        2               1
 20661    19197        2               1
 20671    15031        2               1
 20687    16056        2               1
 20711     3835        2               1

 [441 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9161     20949        2               7
 9167      6675        2               6
 9205      3928        2               6
 9216      7004        2               5
 9235      5672        2               5
 ...        ...      ...             ...
 21807    16056        2               1
 21821     2746        2               1
 21822    16059        2               1
 21833     2754        2               1
 21834     4636        2               1

 [467 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9181      4248        2               5
 9182     20949        2               5
 9206      2815        2               4
 9217     21385        2               4
 9236      4244        2               4
 ...        ...      ...             ...
 22165     2755        2               1
 22179    15044        2               1
 22202    12997        2               1
 22205    12998        2               1
 22218     3076        2               1

 [438 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9266     20949        2               5
 9321      7805        2               4
 9345      7794        2               4
 9347      7837        2               4
 9349      7807        2               4
 ...        ...      ...             ...
 22486     5822        2               1
 22506     5823        2               1
 22512     7872        2               1
 22513     2753        2               1
 22533     5639        2               1

 [455 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9267     20949        2               7
 9268      7834        2               5
 9269      2808        2               4
 9270      7794        2               4
 9376      7805        2               4
 ...        ...      ...             ...
 22729     4963        2               1
 22730    15044        2               1
 22746     4806        2               1
 22747    16071        2               1
 22755     2050        2               1

 [444 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9218      2964        2               5
 9237     20949        2               5
 9271      7071        2               3
 9339      7956        2               3
 9346      3331        2               3
 ...        ...      ...             ...
 23182     7837        2               1
 23186     7838        2               1
 23188     4634        2               1
 23195     2735        2               1
 23199     3076        2               1

 [413 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9219     17717        2               9
 9272      2817        2               6
 9340     16790        2               6
 9609     20949        2               5
 9677      4249        2               4
 ...        ...      ...             ...
 23131     7838        2               1
 23135     3743        2               1
 23145     5325        2               1
 23164     3745        2               1
 23165     6387        2               1

 [436 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9220     17717        2              17
 9273      6502        2               7
 9322      3342        2               6
 9341     20949        2               6
 9416      6504        2               5
 ...        ...      ...             ...
 23585      835        2               1
 23586     6376        2               1
 23609     6472        2               1
 23617    19787        2               1
 23618      486        2               1

 [376 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9207     17717        2              12
 9221     20949        2               6
 9274      6503        2               4
 9323      3237        2               4
 9378     19436        2               4
 ...        ...      ...             ...
 24202    15035        2               1
 24204     5821        2               1
 24208    15045        2               1
 24225    15046        2               1
 24243     9402        2               1

 [415 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9275     17717        2              14
 9296      3733        2               9
 9324     20949        2               7
 9342      2293        2               6
 9418      2295        2               5
 ...        ...      ...             ...
 24791    16055        2               1
 24792    16056        2               1
 24793    16059        2               1
 24794     5821        2               1
 24795      486        2               1

 [432 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9222     17717        2              16
 9276     20949        2              10
 9277      4872        2               7
 9325      3341        2               6
 9343      2429        2               6
 ...        ...      ...             ...
 24664     4806        2               1
 24666     8666        2               1
 24671    21273        2               1
 24675    15704        2               1
 24679     5639        2               1

 [706 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9278     17717        2              10
 9306     20949        2               5
 9326      5820        2               4
 9381     16055        2               4
 9420      4244        2               4
 ...        ...      ...             ...
 25261     3774        2               1
 25265     5823        2               1
 25278     9395        2               1
 25287    15045        2               1
 25292     6677        2               1

 [482 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9168     17717        2               7
 9171     20949        2               5
 9279      7172        2               4
 9298     16825        2               4
 9327      4248        2               3
 ...        ...      ...             ...
 25674     2753        2               1
 25678    12997        2               1
 25687    15046        2               1
 25695     4807        2               1
 25703     8192        2               1

 [541 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9328     17717        2               7
 9423      6497        2               5
 9503      7172        2               5
 9639      3071        2               3
 9689      1971        2               3
 ...        ...      ...             ...
 26059    19116        2               1
 26071     2734        2               1
 26081     5814        2               1
 26082    16055        2               1
 26083     1523        2               1

 [423 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9280      3731        2              11
 9307     20949        2               7
 9329     17717        2               5
 9424      4892        2               5
 9425      4894        2               5
 ...        ...      ...             ...
 26406    18148        2               1
 26411    17126        2               1
 26412    16113        2               1
 26417      486        2               1
 26418     3072        2               1

 [417 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9281     10209        2               7
 9308     10210        2               6
 9330     10207        2               6
 9426     17717        2               5
 9481     20949        2               5
 ...        ...      ...             ...
 26504    15042        2               1
 26516    15044        2               1
 26517    15045        2               1
 26519     4806        2               1
 26522     3072        2               1

 [409 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9282     17717        2               6
 9331     20949        2               4
 9504      1814        2               4
 9692      3341        2               3
 9751      7893        2               3
 ...        ...      ...             ...
 26609     5821        2               1
 26610     5823        2               1
 26618    15040        2               1
 26636    15045        2               1
 26643     8192        2               1

 [468 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9283     17717        2               5
 9332     20949        2               4
 9448      1564        2               4
 9482      3688        2               4
 9505      1814        2               3
 ...        ...      ...             ...
 26846      686        2               1
 26849      687        2               1
 26854     3945        2               1
 26856     2813        2               1
 26859    17408        2               1

 [468 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9284      3341        2               5
 9333      3731        2               5
 9382      3343        2               4
 9729      3423        2               4
 9752      1564        2               4
 ...        ...      ...             ...
 26596    14020        2               1
 26597    15045        2               1
 26612     4806        2               1
 26613    16071        2               1
 26620    11266        2               1

 [522 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 9150      4719        2               7
 9285      3351        2               5
 9334      3444        2               5
 9483     17717        2               5
 9693      4721        2               4
 ...        ...      ...             ...
 27042     4807        2               1
 27046     2760        2               1
 27049     7085        2               1
 27051     3340        2               1
 27052     3072        2               1

 [456 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 27324     2973        3               2
 27329     3851        3               2
 27341     6495        3               2
 27353    11391        3               2
 27355    12135        3               2
 ...        ...      ...             ...
 34500     3592        3               1
 34501     9871        3               1
 34502    12947        3               1
 34503    13972        3               1
 34504     7169        3               1

 [544 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 27298     6495        3               5
 27334     1830        3               4
 27342     2445        3               4
 27358     7169        3               3
 27361     3328        3               3
 ...        ...      ...             ...
 34795     4779        3               1
 34796     4780        3               1
 34804     4781        3               1
 34806    12974        3               1
 34807     6144        3               1

 [549 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 27297     6488        3               4
 27299     6495        3               4
 27343     1939        3               3
 27344     6466        3               3
 27362    12168        3               3
 ...        ...      ...             ...
 35396     7856        3               1
 35429     4790        3               1
 35430     4792        3               1
 35447    19130        3               1
 35449     1025        3               1

 [579 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 27300     2445        3               3
 27318     6457        3               3
 27335    21376        3               2
 27363     1939        3               2
 27370     3432        3               2
 ...        ...      ...             ...
 36173    15016        3               1
 36174    21565        3               1
 36196     9902        3               1
 36200     9903        3               1
 36203     6144        3               1

 [477 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 27319    15044        3               5
 27322    20949        3               4
 27354    15043        3               3
 27364     6495        3               3
 27371     8686        3               2
 ...        ...      ...             ...
 36338     5811        3               1
 36339     4791        3               1
 36347    19130        3               1
 36349    13013        3               1
 36363     6144        3               1

 [466 rows x 3 columns],
        item_id  shop_id  item_cnt_month
 27296    20949        3               6
 27301    16787        3               5
 27345     6680        3               3
 27359     6499        3               3
 27365    10991        3               3
 ...        ...      ...             ...

In [26]:
len(df_for_train)

1505

prepare a funtion to randomely chose sample frome df_for_train and preapare training and testing sample

In [74]:
def sample(j):
    df_j=[]
    for i in np.arange(0,1505,1):
          df_j.append(df_for_train[i].sample(n = j, replace = True)) 
    return df_j

In [75]:
x=sample(10)

4O SAMPLE FROM EACH SET

In [76]:
train_x_1= pd.concat(sample(40),axis=0)

In [77]:
train_x_2= pd.concat(sample(40),axis=0)

In [78]:
train_x_3= pd.concat(sample(40),axis=0)

In [79]:
train_x_4= pd.concat(sample(40),axis=0)

In [80]:
test_x_1= pd.concat(sample(40),axis=0)

8O SAMPLE FROM EACH SET FOR WORKING MODEL

In [81]:
TRAIN_TO_FIT=pd.concat(sample(80),axis=0)

In [82]:
train_x_1.to_csv('train_x_1.csv')
train_x_2.to_csv('train_x_2.csv')
train_x_3.to_csv('train_x_3.csv')
train_x_4.to_csv('train_x_4.csv')
test_x_1.to_csv('test_x_1.csv')

In [83]:
TRAIN_TO_FIT.to_csv('TRAIN_TO_FIT.csv')